{{{flashAlert request 'supportstaff'}}}
<div class="block">
    <div class="header">
        <b>Support Staffs List</b>
        <a href="{{route request "system/supportstaff/add"}}" class="btn target blue" title="Add New Bus Manager"><span>Add New</span></a>
    </div>
    <div class="body">
        <table class="datatable">
            <thead>
            <tr >
                <th>Name</th>
                <th>Location</th>
                <th>Company</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
           
            </tbody>
        </table>
        <div class="grid">
            <div class="row">
                <div class="column-4 ">
                   
                </div>
                <div class="column-8 text-right">
                    
                </div>
            </div>
        </div>
    </div>
</div>